@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.detail {
  font-weight: 600;
  text-transform: capitalize;
}

.custom_card {
  display: grid;
  gap: 8;
  border-radius: 0.75rem;
  border-width: 1px;
  padding: 1.25rem;
  box-shadow:
    0 4px 6px -1px rgb(222, 201, 242),
    0 2px 4px -1px rgb(186, 133, 235);
}

.custom_card_details {
  display: grid;
  margin-top: 1.25rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 4rem;
  row-gap: 1rem;
  align-content: space-between;
  width: 100%;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.auth_section {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth_card {
  width: 100%;
  max-width: 28rem;
  position: relative;
}

.auth_head {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.auth_subhead {
  font-weight: 300;
  text-align: center;
  color: #613e83;
}

.dashboard_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.property_details_card {
  display: grid;
  padding: 1.25rem;
  gap: 2rem;
  border-radius: 0.75rem;
  border-width: 1px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.property_details_card-heading {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: #613e83;
}

.property_details_card-details {
  display: grid;
  margin-top: 1.25rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 4rem;
  row-gap: 1rem;
  align-content: space-between;
  width: 100%;
}

.dashboard_header {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: 1rem;
  align-items: center;
  border-bottom-width: 1px;
  height: 3.5rem;
  background-color: rgb(243 244 246 / 0.4);
}
